{% load staticfiles %}
{% load unbroke_extras %}
<title>Deposits</title>
<link rel="stylesheet" type="text/css" href="{% static 'unbroke/unbroke.css' %}" />
<script src="{% static 'unbroke/unbroke.js' %}"> </script>


<div id="uinfo">
    <h2> Welcome {{ name }} </h2>
    <form id="logout" action="{% url 'unbroke:logout' %}" method="POST" >
        {% csrf_token %} 
        <input id="logoutbtn" type="submit" value="Logout" />
    </form>
</div>

<nav>
    <a href="{% url 'unbroke:home' %}">Home</a>&nbsp;
    <a href="{% url 'unbroke:deposits' %}">Deposits</a>&nbsp;
    <a href="{% url 'unbroke:expenses' %}">Expenses</a>&nbsp;
    <a href="{% url 'unbroke:wish' %}">WishList</a>&nbsp;
    <a href="{% url 'unbroke:setting' %}">Settings</a>&nbsp;
</nav>
{% if messages %}
    {% for message in messages %}
        <center> {{ message }} </center>
    {% endfor %}
{% endif %}
<form class="datepicker" action="{% url 'unbroke:deposits' %}" method="POST">
    {% csrf_token %} 
    <h3> Balance for the Month of &nbsp <input name="bdate" id="bdate" type="date" value={{ date }}>&nbsp;<input type="submit" value="Submit"></h3>
</form>
<input type="button" onclick="showaddOL()" value="Add New Entry">
<div class="data" id="deposits">
    <table name="ddata" id="ddata">
        <tr>
            <th><div onclick="showDateOL()"> Date </div></th>
            <th><div onclick="showDescOL()"> Description </div></th>
            <th><div onclick="showAmtOL()"> Amount </div></th>
            <th><div onclick="showAccOL()"> Account </div></th>
            <th> Edit </th>
        </tr>
        {% for data in depositsdata %}
            <tr>
                <td> {{ data.1 }} </td>
                <td> {{ data.2 }} </td>
                <td> $ {{ data.3 }} </td>
                <td> {{ data.4 }} </td>
                <td> <form name="editd" action="{% url 'unbroke:deposits' %}" method="POST">
                        {% csrf_token %} 
                    <input name="dID" type="hidden" value="{{ data.0 }}">
                    <input type="submit" value="Edit"></form></td>
            </tr>
        {% endfor %}   
    </table>
</div><br>
<div class="totals" id="dtotal">
    <h2>Total: &nbsp;${{ total.0 }}</h2>
</div>

<div id="dateol" class="overlay">
    <a class="closebtn" href="javascript:void(0)" onclick="hideDateOL()">&times;</a>
    <div class="overlay-content">
        <h2> Date </h2>
        <h4 id="ferror"></h4>
        <form id="datesort" action="{% url 'unbroke:deposits' %}"  method="POST">
            {% csrf_token %} 
            <input type="radio" name="dsort" value="Ascending" checked>Ascending<br>
            <input type="radio" name="dsort" value="Descending">Descending<br><br>
            <input type="button" onclick="hideDateOL()" value="Cancel"> &nbsp;
            <input type="submit" value="Save">
        </form>
    </div>
</div>

<div id="descol" class="overlay">
    <a class="closebtn" href="javascript:void(0)" onclick="hideDescOL()">&times;</a>
    <div class="overlay-content">
        <h3> Description </h3>
        <h4 id="ferror"></h4>
        <form id="descfilter" action="{% url 'unbroke:deposits' %}" onsubmit="" method="POST">
            {% csrf_token %} 
            {% for descs in desc %}
                <input name="desc" type="checkbox" value={{ descs.0 }}> {{descs.0}}<br>
            {% endfor %}<br>
            <input type="button" onclick="hideDescOL()" value="Cancel"> &nbsp;
            <input type="submit" value="Save">
        </form>
    </div>
</div>

<div id="amtol" class="overlay">
    <a class="closebtn" href="javascript:void(0)" onclick="hideAmtOL()">&times;</a>
    <div class="overlay-content">
        <h3> Amount </h3>
        <h4 id="ferror"></h4>
        <form id="amtsort" action="{% url 'unbroke:deposits' %}" onsubmit="" method="POST">
            {% csrf_token %} 
            <input type="radio" name="asort" value="Ascending" checked>Ascending<br>
            <input type="radio" name="asort" value="Descending">Descending<br><br>
            <input type="button" onclick="hideAmtOL()" value="Cancel"> &nbsp;
            <input type="submit" value="Save">
        </form>
    </div>
</div>

<div id="accol" class="overlay">
    <a class="closebtn" href="javascript:void(0)" onclick="hideAccOL()">&times;</a>
    <div class="overlay-content">
        <h3> Account </h3>
        <h4 id="ferror"></h4>
        <form id="accfilter" action="{% url 'unbroke:deposits' %}" onsubmit="" method="POST">
            {% csrf_token %} 
            {% for accs in acc %}
                <input name="acc" type="checkbox" value={{ accs.0 }}> {{accs.0}}<br>
            {% endfor %}<br>
            <input type="button" onclick="hideAccOL()" value="Cancel"> &nbsp;
            <input type="submit" value="Save">
        </form>
    </div>
</div>
    
<div id="addol" class="overlay">
    <a class="closebtn" href="javascript:void(0)" onclick="hideaddOL()">&times;</a>
    <div class="overlay-content">
        <h3> Deposit  </h3>
        <h4 id="ferror"></h4>
        <form id="addd" action="{% url 'unbroke:deposits' %}" onsubmit="" method="POST">
            {% csrf_token %}
            <label for="ddate">Date</label> 
            <input name="ddate" id="ddate" type="date" value="{% getcurrentdate %}" required><br>
            <label for="ddesc">Description</label>
            <select name="ddesc" id="ddesc" type="text" value="" required>
                {% for desc in autodesc %}
                <option value={{desc.0}}>{{desc.0}}</option>
                {% endfor %}
            </select>
            <input type="button" id="adesc" onclick="showadddesc()" value="Add"><br>
            <label for="damt">Amount</label>
            <input name="damt" id="damt" type="number" step="0.01" value="" required><br>
            <label for="dacc">Account</label>
            <select name="dacc" id="dacc" type="text" value="" required>
                {% for acc in autoacc %}
                <option value={{acc.0}}>{{acc.0}}</option>
                {% endfor %}
            </select>
            <input type="button" id="aacc" onclick="showaddacc()" value="Add"><br>
            <label for="recurring">Recurring?</label>
            <input name="recurring" id="recurring" type="checkbox" value="False" onchange="recclick()"><br>
            <label for="repeat" class="hidden">Repeat for</label>
            <select name="repeat" id="repeat" class="hidden">
                <option value="day">1 day</option>
                <option value="week">1 week</option>
                <option value="month">1 month</option>
                <option value="semi">6 months</option>
                <option value="year">1 year</option>
            </select><br>
            <label for="anotes">Notes</label>
            <textarea class="notes" name="anotes" value=""></textarea><br>
            <input type="button" onclick="hideaddOL()" value="Cancel"> &nbsp;
            <input type="submit" value="Save">
        </form>
    </div>      
</div>

<div id="adddescol" class="overlayI">
    <a class="closebtn" href="javascript:void(0)" onclick="hideadddesc()">&times;</a>
    <div class="overlay-content">
        <h3> Add Description  </h3>
        <h4 id="ferror"></h4>
        <form id="adddesc" action="javascript:void(0)" onsubmit="adddesc()">
            <input type="text" id="additionaldesc" value=""><br>
            <input type="button" onclick="hideadddesc()" value="Cancel"> &nbsp;
            <input type="submit" value="Save">
        </form>
    </div>      
</div>

<div id="addaccol" class="overlayI">
    <a class="closebtn" href="javascript:void(0)" onclick="hideaddacc()">&times;</a>
    <div class="overlay-content">
        <h3> Add Account  </h3>
        <h4 id="ferror"></h4>
        <form id="addacc" action="javascript:void(0)" onsubmit="addacc()">
            <input type="text" id="additionalacc" value=""><br>
            <input type="button" onclick="hideaddacc()" value="Cancel"> &nbsp;
            <input type="submit" value="Save">
        </form>
    </div>      
</div>