{% load staticfiles %}
{% load unbroke_extras %}
<title>Home</title>
<link rel="stylesheet" type="text/css" href="{% static 'unbroke/unbroke.css' %}" />

<div id="uinfo">
    <h2> Welcome {{ name }} </h2>
    <form id="logout" action="{% url 'unbroke:logout' %}" method="POST" >
        {% csrf_token %} 
        <input id="logoutbtn" type="submit" value="Logout" />
    </form>
</div>

<nav>
    <a href="{% url 'unbroke:home' %}">Home</a>&nbsp;
    <a href="{% url 'unbroke:deposits' %}">Deposits</a>&nbsp;
    <a href="{% url 'unbroke:expenses' %}">Expenses</a>&nbsp;
    <a href="{% url 'unbroke:wish' %}">WishList</a>&nbsp;
    <a href="{% url 'unbroke:setting' %}">Settings</a>&nbsp;
</nav>

<div id="uprofile">
    <form class="datepicker" action="{% url 'unbroke:home' %}" method="POST">
        {% csrf_token %} 
        <h3> Balance for the Month of &nbsp <input name="bdate" id="bdate" type="date" value={{ date }}>&nbsp;<input type="submit" value="Submit"></h3>
    </form>
    <div id="budget">
        <h4> Your Balance for this Month is: <strong>{{ balance }}</strong></h4>
        <a class="dbtn" href="{% url 'unbroke:deposits' %}">
            <div id="Deposits" class="budgetdata">
                <h4> Deposits </h4>
                <strong>{{ deposits }}</strong>
            </div>
        </a>
        <a class="dbtn" href="{% url 'unbroke:expenses' %}">
            <div id="Expenses" class="budgetdata">
                <h4> Expenses </h4>
                <strong>{{ expenses}}</strong>
            </div>
        </a>
        <a class="dbtn" href="{% url 'unbroke:wish' %}">
            <div id="Wishlist" class="budgetdata">
                <h4> WishList </h4>
            </div>
        </a>
        <a class="dbtn" href="{% url 'unbroke:setting' %}">
            <div id="Settings" class="budgetdata">
                <h4> Settings </h4>
            </div>
        </a>
    </div>
</div>