{{ % load staticfiles %}}
<!doctype html>
<html>
<head>
<title> Unbroke Me </title>
</head>
<body>
	<div id="login">
		<form id="loginform" action="" method="POST" >
			<label for="utext">Username </label>
			<input type="text" id="user" value="" placeholder="Enter your Username" required>
			<label for="ptext">Password </label>
			<input type="password" id="pword" value="" placeholder="Enter your Password" required>
			<input type="submit" id="lbtn" value="Login">
			<input type="submit" id="rbtn" value="Register">
		
		</form>
	
	</div>

</body>
</html>