{% load staticfiles %}
<title> Unbroke Me </title>
<link rel="stylesheet" type="text/css" href="{% static 'unbroke/unbroke.css' %}" />
<script src="{% static 'unbroke/unbroke.js' %}"> </script>

	<div id="userform">
    {% if messages %}
		{% for message in messages%}
			<p id="error"> {{ message }} </p>
		{% endfor %}
	{% endif %}
		<form id="loginform" action="{% url 'unbroke:home' %}" method="POST" >
            {% csrf_token %} 
            <label id="ferror"></label></br>
			<label for="user">Username </label></br>
			<input type="email" name="user" id="user" value="" onfocusout="validate()" placeholder="Enter your Username" required></br>
			<label for="pword">Password </label></br>
			<input type="password" name="pword" id="pword" value="" onfocusout="validate()" placeholder="Enter your Password" required></br></br>
        	<input type="submit" id="lbtn" value="Login"></br>		
		</form>
        <form action="{% url 'unbroke:register' %}" method="GET">
            {% csrf_token %} 
            <label for "rbtn">Don't have an Account?</label>
            <input type="submit" id="rbtn" value="Register"></br>
        </form>
	</div>
