{% load staticfiles %}
<title>Register</title>
<link rel="stylesheet" type="text/css" href="{% static 'unbroke/unbroke.css' %}" />
<script src="{% static 'unbroke/unbroke.js' %}"> </script>

<div id="userform">
	{% if messages %}
		{% for message in messages %}
			<p id="error"> {{ message }} </p>
		{% endfor %}
	{% endif %}
	<form id="regform" action="{% url 'unbroke:index' %}" method="Post">
        {% csrf_token %} 
        <label id="ferror"></label></br>
		<label for "fname">First Name </label></br>
		<input type="text" value="" name="fname" id="fname" onfocusout="validate()" required></br>
		<label for "lname">Last Name </label></br>
		<input type="text" value="" name="lname" id="lname" onfocusout="validate()" required></br>
		<label for "uname">Email</label></br>
		<input type="email" value="" name="uname" id="uname" onfocusout="validate()" required></br>
		<label for "pword">Password</label></br>
		<input type="password" value="" name="pword" id="pword" onfocusout="validate()" required></br></br>
		<input type="submit" value="Register"></br>
    </form>
    <form action="{% url 'unbroke:index' %}" method="GET">
        <label for "lbtn">Already have an Account?</label>
        <input type="submit" value="Login"> 
    </form>
</div>