{% load staticfiles %}
{% load unbroke_extras %}
<title>Settings</title>
<link rel="stylesheet" type="text/css" href="{% static 'unbroke/unbroke.css' %}" />
<script src="{% static 'unbroke/unbroke.js' %}"> </script>

<div id="uinfo">
    <h2> Welcome {{ name }} </h2>
    <form id="logout" action="{% url 'unbroke:logout' %}" method="POST" >
        {% csrf_token %} 
        <input id="logoutbtn" type="submit" value="Logout" />
    </form>
</div>

<nav>
    <a href="{% url 'unbroke:home' %}">Home</a>&nbsp;
    <a href="{% url 'unbroke:deposits' %}">Deposits</a>&nbsp;
    <a href="{% url 'unbroke:expenses' %}">Expenses</a>&nbsp;
    <a href="{% url 'unbroke:wish' %}">WishList</a>&nbsp;
    <a href="{% url 'unbroke:setting' %}">Settings</a>&nbsp;
</nav>


<div id="pc" class="overlay2">
    <a class="closebtn" href="javascript:void(0)" onclick="cpoverlay()">&times;</a>
    <div class="overlay-content">
        <h3> Change Password </h3>
        {% if messages %}
            {% for message in messages %}
                <p id="error"> {{ message }} </p><br>
            {% endfor %}
        {% endif %}
        <h4 id="ferror"></h4>
        <form id="pchangeform" action="{% url 'unbroke:setting' %}" onsubmit="cpvalid()" method="POST">
            {% csrf_token %} 
            <label for="cpass">Current Password</label><br>
            <input name="cpass" id="cpass" type="password" value="" required><br>
            <label for="npass">New Password</label><br>
            <input name="npass" id="npass" type="password" value="" required><br>
            <label for="cnpass">Confirm New Password</label><br>
            <input name="cnpass" id="cnpass" type="password" value="" onfocusout="cpvalid()" required><br><br>
            <input type="submit" value="Save">          
        </form>
    </div>
</div>
<div id="pcbtn" class="settingbtn" onclick="poverlay()">
    <h4>Change Password</h4>
<div>
