{% load staticfiles %}
{% load unbroke_extras %}
<title>WishList</title>
<link rel="stylesheet" type="text/css" href="{% static 'unbroke/unbroke.css' %}" />
<script src="{% static 'unbroke/unbroke.js' %}"> </script>


<div id="uinfo">
    <h2> Welcome {{ name }} </h2>
    <form id="logout" action="{% url 'unbroke:logout' %}" method="POST" >
        {% csrf_token %} 
        <input id="logoutbtn" type="submit" value="Logout" />
    </form>
</div>

<nav>
    <a href="{% url 'unbroke:home' %}">Home</a>&nbsp;
    <a href="{% url 'unbroke:deposits' %}">Deposits</a>&nbsp;
    <a href="{% url 'unbroke:expenses' %}">Expenses</a>&nbsp;
    <a href="{% url 'unbroke:wish' %}">WishList</a>&nbsp;
    <a href="{% url 'unbroke:setting' %}">Settings</a>&nbsp;
</nav><br>

<input type="button" onclick="showaddOL()" value="Add New Entry">
<div class="data" id="wishlist">
    <table name="edata" id="edata">
        <tr>
            <th>Wish</th>
            <th>Amount</th>
            <th>Saved</th>
            <th>Remaining</th>
            <th> Edit </th>
        </tr>
        {% for data in wishdata %}
            <tr>
                <td> {{ data.1 }} </td>
                <td> {{ data.2 }} </td>
                <td> $ {{ data.3 }} </td>
                <td> {{ data.4 }} </td>
                <td> <form name="editd" action="{% url 'unbroke:wish' %}" method="POST">
                     {% csrf_token %} 
                    <input name="wID" type="hidden" value="{{ data.0 }}">
                    <input type="submit" value="Edit"></form></td>
            </tr>
        {% endfor %}   
    </table>
</div><br>
<div class="totals" id="dtotal">
    <h2>Your Total Savings this Month is : &nbsp;${{ total.0.0 }}</h2>
</div>
    
<div id="addol" class="overlay">
    <a class="closebtn" href="javascript:void(0)" onclick="hideaddOL()">&times;</a>
    <div class="overlay-content">
        <h3> Wish  </h3>
        <h4 id="ferror"></h4>
        <form id="addd" action="{% url 'unbroke:wish' %}" onsubmit="" method="POST">
            {% csrf_token %}
            <label for="dwish">Wish</label>
            <input name="dwish" id="dwish" type="text" value="" required><br>
            <label for="damt">Amount</label>
            <input name="damt" id="damt" type="number" step="0.01" value="" required><br>
            <label for="dsaved">Saved</label>
            <input name="dsaved" id="dsaved" type="number" step="0.01" value="" required>  <br>          
            <input type="button" onclick="hideaddOL()" value="Cancel"> &nbsp;
            <input type="submit" value="Save">
        </form>
    </div>      
</div>

<div id="editol" class="overlay2">
    <a class="closebtn" href="javascript:void(0)" onclick="hideeditOL()">&times;</a>
    <div class="overlay-content">
        <h3> Wish  </h3>
        <h4 id="ferror"></h4>
        {% if messages %}
            {% for message in messages %}
                <center> {{ message }} </center>
            {% endfor %}
        {% endif %}
        <form id="editd" action="{% url 'unbroke:wish' %}" onsubmit="" method="POST">
            {% csrf_token %}
            <label for="edwish">Wish</label>
            <input name="edwish" id="edwish" type="text" value={{ entry.0 }} required><br>
            <label for="edamt">Amount</label>
            <input name="edamt" id="edamt" type="number" step="0.01" value={{ entry.1 }} required><br>
            <label for="edsaved">Saved</label>
            <input name="edsaved" id="edsaved" type="text" value={{ entry.2 }} readonly><br>
            <label for="edsave">To Save</label>
            <input name="edsave" id="edsave" type="number" step="0.01" value="0.00" required>  <br>
            <input name="wid" type="hidden" value={{ wID }}><br>
            <input type="button" onclick="hideeditOL()" value="Cancel"> &nbsp;
            <input type="submit" value="Save">
        </form>
        <form action="{% url 'unbroke:wish' %}" method="POST">
            {% csrf_token %}
            <input name="ddelete" type="hidden" value={{ wID }}>
            <input type="submit" value="Delete">
        </form>
    </div>      
</div>
