#userform {
    margin: 0 auto;
    font-family: Calibri, Consolas, Arial, sans-serif;
    padding: 20% 0% 0% 30%;
    width: 50%;
    height: 50%;
    color: springgreen;
}

#ferror {
    font-weight: bold;
    font-size: 1.5em;
    color: peachpuff;
}

body {
    background-color: seagreen;
}