#userform {
    margin: 0;
    font-family: Calibri, Consolas, Arial, sans-serif;
    padding: 20% 0% 0% 40%;
    width: 50%;
    height: 50%;
    color: springgreen;
}

#ferror, #error {
    font-weight: bold;
    font-size: 1.5em;
    color: peachpuff;
    margin: 0;
}

body {
    background-color: seagreen;
}