#userform {
    margin: 0;
    font-family: Calibri, Consolas, Arial, sans-serif;
    margin: 15% 0% 0% 40%;
    padding-left: 5%;
    width: 20%;
    height: 30%;
}

#userform img {
    padding: 0% 2em;
}

#ferror, #error {
    font-weight: bold;
    font-size: 1.5em;
    color: peachpuff;
    margin: 0;
}

body {
    font-family: Yu Gothic, Calibri, Arial, sans-serif;
    background-color: seagreen;
    color: springgreen;
}


#uinfo {
    border-bottom: 2px solid palegreen;
}

#logoutbtn {
    width: 5em;
    height: auto;
    border-radius: 6px;
    background-color: white;
}

.budgetdata {
    float: left;
    width: 30%;
    height: auto;
    text-align: center;
    margin: 2% 5%;
}

#Deposits, #Expenses, #WishList, #Settings{
    border: 2px solid aliceblue;
}

.budgetdata:hover{
    background-color: snow;
    color: aqua;
}

.overlay {
    position: absolute;
    width: 0%;
    height: 100%;
    z-index: 1;
    overflow-x: hidden;
  
}

.dbtn {
    text-decoration: none;
}
